### use # to comment out the configure item

### I/O ###
train_dir=/mnt/enchome/jie/conll03/train.bioes
dev_dir=/mnt/enchome/jie/conll03/dev.bioes
test_dir=/mnt/enchome/jie/conll03/test.bioes
model_dir=sample_data/ncrf.ner
word_emb_dir=/mnt/hdd/glove.6B.100d.txt

#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=False
char_seq_feature=CNN
use_word_seq=True
use_word_emb=False
word_seq_feature=LSTM
low_level_transformer=bert-base-cased
high_level_transformer=None
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=Adam
iteration=10
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=768
dropout=0.5
lstm_layer=2
bilstm=True
learning_rate=5e-5
lr_decay=0.05
momentum=0
l2=1e-8
#gpu
#clip=
