### use # to comment out the configure item

sentence_classification=True

### I/O ###
train_dir=../data/Sentclf/SST1/stsa.fine.train.clf
dev_dir=../data/Sentclf/SST1/stsa.fine.dev.clf
test_dir=../data/Sentclf/SST1/stsa.fine.test.clf
model_dir=sample_data/clf
word_emb_dir=../data/glove.840B.300d.txt


#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=False
word_emb_dim=50
char_emb_dim=30

###NetworkConfiguration###
use_crf=False
use_char=False
word_seq_feature=LSTM
char_seq_feature=CNN
#feature=[POS] emb_size=20
#feature=[Cap] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=50
batch_size=10
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=400
dropout=0
lstm_layer=1
bilstm=True
learning_rate=0.2
lr_decay=0.05
momentum=0
l2=1e-8
#gpu
#clip=
